@import '../index.scss';

.MainPage {
      max-width: 2040px;
      // height: 100vh;
      padding: 0 0 40px 0;
      display: block;
      margin: auto;
      // background-color: red;

      h1 {
            color: white;
            font-size: 40px;
      }
}