@import '../index.scss';

.CardsBox {
      width: 2040px;
      // max-width: 1750px;
      margin: auto;
      padding: 40px 20px 0 20px;
      // height: 100%;

      .GenreName {
            font-size: 34px;
            text-transform: uppercase;
            color: $text-color;
      }

      .GenreContent {
            display: grid;
            padding: 10px 0 0 0;
            gap: 60px 40px;
            justify-items: stretch;
            grid-template-columns: repeat(6, 1fr);
      }
}
